openapi: 3.0.1
info:
  title: Product Catalog Management
  description: "Product Catalog API is one of Catalog Management API Family. Product\
    \ Catalog API goal is to provide a catalog of products. \n### Operations\nProduct\
    \ Catalog API performs the following operations on the resources :\n- Retrieve\
    \ an entity or a collection of entities depending on filter criteria\n- Partial\
    \ update of an entity (including updating rules)\n- Create an entity (including\
    \ default values and creation rules)\n- Delete an entity\n- Manage notification\
    \ of events"
  version: 5.0.1
servers:
- url: https://bainz.nz/server01
  description: production
- url: https://bainz.nz/test
  description: test
security:
- password:
  - read
  - write
tags:
- name: catalog
  description: Operations for Catalog Resource
- name: category
  description: Operations for Category Resource
- name: productOffering
  description: Operations for ProductOffering Resource
- name: productOfferingPrice
  description: Operations for ProductOfferingPrice Resource
- name: productSpecification
  description: Operations for ProductSpecification Resource
paths:
  /catalog:
    get:
      tags:
      - catalog
      summary: List or find Catalog objects
      description: This operation retrieves a Catalog entity. Attribute selection
        enabled for all first level attributes.
      operationId: listCatalog
      parameters:
      - name: fields
        in: query
        description: Comma-separated properties to be provided in response
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: offset
        in: query
        description: Requested index for start of resources to be provided in response
        required: false
        style: form
        explode: true
        schema:
          type: integer
      - name: limit
        in: query
        description: Requested number of resources to be provided in response
        required: false
        style: form
        explode: true
        schema:
          type: integer
      responses:
        "200":
          description: Success
          headers:
            X-Total-Count:
              $ref: '#/components/headers/X-Total-Count'
            X-Result-Count:
              $ref: '#/components/headers/X-Result-Count'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Catalog'
              examples:
                Catalog_list_example:
                  $ref: '#/components/examples/Catalog_list_example_response'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "405":
          description: Method Not allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "501":
          description: Not Implemented
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "503":
          description: Service Unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /category:
    get:
      tags:
      - category
      summary: List or find Category objects
      description: This operation retrieves a Category entity. Attribute selection
        enabled for all first level attributes.
      operationId: listCategory
      parameters:
      - name: fields
        in: query
        description: Comma-separated properties to be provided in response
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: offset
        in: query
        description: Requested index for start of resources to be provided in response
        required: false
        style: form
        explode: true
        schema:
          type: integer
      - name: limit
        in: query
        description: Requested number of resources to be provided in response
        required: false
        style: form
        explode: true
        schema:
          type: integer
      responses:
        "200":
          description: Success
          headers:
            X-Total-Count:
              $ref: '#/components/headers/X-Total-Count'
            X-Result-Count:
              $ref: '#/components/headers/X-Result-Count'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Category'
              examples:
                Category_list_example:
                  $ref: '#/components/examples/Category_list_example_response'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "405":
          description: Method Not allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "501":
          description: Not Implemented
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "503":
          description: Service Unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /productOffering:
    get:
      tags:
      - productOffering
      summary: List or find ProductOffering objects
      description: This operation retrieves a ProductOffering entity. Attribute selection
        enabled for all first level attributes.
      operationId: listProductOffering
      parameters:
      - name: fields
        in: query
        description: Comma-separated properties to be provided in response
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: offset
        in: query
        description: Requested index for start of resources to be provided in response
        required: false
        style: form
        explode: true
        schema:
          type: integer
      - name: limit
        in: query
        description: Requested number of resources to be provided in response
        required: false
        style: form
        explode: true
        schema:
          type: integer
      responses:
        "200":
          description: Success
          headers:
            X-Total-Count:
              $ref: '#/components/headers/X-Total-Count'
            X-Result-Count:
              $ref: '#/components/headers/X-Result-Count'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ProductOffering'
              examples:
                ProductOffering_list_example:
                  $ref: '#/components/examples/ProductOffering_list_example_response'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "405":
          description: Method Not allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "501":
          description: Not Implemented
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "503":
          description: Service Unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /productOfferingPrice:
    get:
      tags:
      - productOfferingPrice
      summary: List or find ProductOfferingPrice objects
      description: This operation retrieves a ProductOfferingPrice entity. Attribute
        selection enabled for all first level attributes.
      operationId: listProductOfferingPrice
      parameters:
      - name: fields
        in: query
        description: Comma-separated properties to be provided in response
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: offset
        in: query
        description: Requested index for start of resources to be provided in response
        required: false
        style: form
        explode: true
        schema:
          type: integer
      - name: limit
        in: query
        description: Requested number of resources to be provided in response
        required: false
        style: form
        explode: true
        schema:
          type: integer
      responses:
        "200":
          description: Success
          headers:
            X-Total-Count:
              $ref: '#/components/headers/X-Total-Count'
            X-Result-Count:
              $ref: '#/components/headers/X-Result-Count'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ProductOfferingPrice'
              examples:
                ProductOfferingPrice_list_example:
                  $ref: '#/components/examples/ProductOfferingPrice_list_example_response'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "405":
          description: Method Not allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "501":
          description: Not Implemented
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "503":
          description: Service Unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /productOfferingPrice/{id}:
    get:
      tags:
      - productOfferingPrice
      summary: Retrieves a ProductOfferingPrice by ID
      description: List or find ProductOfferingPrice objects
      operationId: retrieveProductOfferingPrice
      parameters:
      - name: id
        in: path
        description: Identifier of the Service
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductOfferingPrice'
              examples:
                ProductOfferingPrice_retrieve_example:
                  $ref: '#/components/examples/ProductOfferingPrice_retrieve_example_response'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "405":
          description: Method Not allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "501":
          description: Not Implemented
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "503":
          description: Service Unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /productSpecification:
    get:
      tags:
      - productSpecification
      summary: List or find ProductSpecification objects
      description: This operation retrieves a ProductSpecification entity. Attribute
        selection enabled for all first level attributes.
      operationId: listProductSpecification
      parameters:
      - name: fields
        in: query
        description: Comma-separated properties to be provided in response
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: offset
        in: query
        description: Requested index for start of resources to be provided in response
        required: false
        style: form
        explode: true
        schema:
          type: integer
      - name: limit
        in: query
        description: Requested number of resources to be provided in response
        required: false
        style: form
        explode: true
        schema:
          type: integer
      responses:
        "200":
          description: Success
          headers:
            X-Total-Count:
              $ref: '#/components/headers/X-Total-Count'
            X-Result-Count:
              $ref: '#/components/headers/X-Result-Count'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ProductSpecification'
              examples:
                ProductSpecification_list_example:
                  $ref: '#/components/examples/ProductSpecification_list_example_response'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "405":
          description: Method Not allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "501":
          description: Not Implemented
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "503":
          description: Service Unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /productSpecification/{id}:
    get:
      tags:
      - productSpecification
      summary: Retrieves a ProductSpecification by ID
      description: List or find ProductSpecification objects
      operationId: retrieveProductSpecification
      parameters:
      - name: id
        in: path
        description: Identifier of the Service
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductSpecification'
              examples:
                ProductSpecification_retrieve_example:
                  $ref: '#/components/examples/ProductSpecification_retrieve_example_response'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "405":
          description: Method Not allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "501":
          description: Not Implemented
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "503":
          description: Service Unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    Addressable:
      required:
      - href
      - id
      type: object
      properties:
        href:
          type: string
          description: Hyperlink reference
        id:
          type: string
          description: unique identifier
      description: Base schema for adressable entities
    AgreementRef:
      type: object
      description: "Agreement reference. An agreement represents a contract or arrangement,\
        \ either written or verbal and sometimes enforceable by law, such as a service\
        \ level agreement or a customer price agreement. An agreement involves a number\
        \ of other business entities, such as products, services, and resources and/or\
        \ their specifications."
      discriminator:
        propertyName: '@type'
        mapping:
          AgreementRef: '#/components/schemas/AgreementRef'
      allOf:
      - $ref: '#/components/schemas/Extensible'
      - $ref: '#/components/schemas/EntityRef'
      - $ref: '#/components/schemas/Reference'
    AllowedProductAction:
      discriminator:
        propertyName: '@type'
        mapping:
          AllowedProductAction: '#/components/schemas/AllowedProductAction'
      allOf:
      - $ref: '#/components/schemas/Extensible'
      - type: object
        properties:
          validFor:
            $ref: '#/components/schemas/TimePeriod'
          channel:
            type: array
            description: A list of sales channels in which this action is allowed;
              for instance Remove might be allowed only in an assisted channel not
              in a self-service channel
            example:
              id: "4406"
              href: https://bainz.nz:8080/tmf-api/salesChannelManagement/v4/channel/4406
              name: Online Channel
              '@referredType': SalesChannel
              '@type': ChannelRef
              '@baseType': ""
              '@schemaLocation': https://bainz.nz:8080/tmf-api/schemas/Common/ChannelRef.schema.json
            items:
              $ref: '#/components/schemas/ChannelRef'
          action:
            type: string
            description: The name of the action
            example: add
        description: Defines an action that can be taken on a product in the inventory
          as part of a product order. It is expected that this entity will be attached
          to product catalog items such as specifications and offerings
    AttachmentRef:
      discriminator:
        propertyName: '@type'
        mapping:
          AttachmentRef: '#/components/schemas/AttachmentRef'
      allOf:
      - $ref: '#/components/schemas/Extensible'
      - $ref: '#/components/schemas/EntityRef'
      - $ref: '#/components/schemas/Reference'
      - type: object
        properties:
          description:
            type: string
            description: A narrative text describing the content of the attachment
          url:
            type: string
            description: Link to the attachment media/content
        description: "Attachment reference. An attachment complements the description\
          \ of an element (for instance a product) through video, pictures"
    AttachmentRefOrValue:
      type: object
      description: "An attachment by value or by reference. An attachment complements\
        \ the description of an element, for example through a document, a video,\
        \ a picture."
      discriminator:
        propertyName: '@type'
        mapping:
          AttachmentRefOrValue: '#/components/schemas/AttachmentRefOrValue'
          AttachmentRef: '#/components/schemas/AttachmentRef'
          Attachment: '#/components/schemas/AttachmentValue'
      oneOf:
      - $ref: '#/components/schemas/AttachmentRef'
      - $ref: '#/components/schemas/AttachmentValue'
    AttachmentValue:
      discriminator:
        propertyName: '@type'
        mapping:
          Attachment: '#/components/schemas/AttachmentValue'
      allOf:
      - $ref: '#/components/schemas/Extensible'
      - type: object
        properties:
          href:
            type: string
            description: Hyperlink reference
          id:
            type: string
            description: unique identifier
          name:
            type: string
            description: The name of the attachment
          description:
            type: string
            description: A narrative text describing the content of the attachment
            example: Photograph of the Product
          url:
            type: string
            description: "Uniform Resource Locator, is a web page address (a subset\
              \ of URI)"
            example: http://host/Content/4aafacbd-11ff-4dc8-b445-305f2215715f
          content:
            type: string
            description: "The actual contents of the attachment object, if embedded,\
              \ encoded as base64"
            format: base64
          size:
            $ref: '#/components/schemas/Quantity'
          validFor:
            $ref: '#/components/schemas/TimePeriod'
          attachmentType:
            type: string
            description: "Attachment type such as video, picture"
          mimeType:
            type: string
            description: "Attachment mime type such as extension file for video, picture\
              \ and document"
        description: "Complements the description of an element (for instance a product)\
          \ through video, pictures..."
    BundledGroupProductOffering:
      allOf:
      - $ref: '#/components/schemas/ProductOfferingRef'
      - type: object
        properties:
          isDefault:
            type: boolean
            description: "Determines if the offering should be selected by default\
              \ as part of the instantiated group. For example, in a selection of\
              \ channel packs, the channels Sport 5 +, Home Life, and Vintage Cinema\
              \ might be selected by default"
            example: true
        description: Represents a potential containment of a product offering within
          another product offering as part of a group.
    BundledGroupProductOfferingOption:
      discriminator:
        propertyName: '@type'
        mapping:
          BundledGroupProductOfferingOption: '#/components/schemas/BundledGroupProductOfferingOption'
      allOf:
      - $ref: '#/components/schemas/Extensible'
      - type: object
        properties:
          productOffering:
            type: array
            description: List of the product offerings that are availanble for selection
            example:
              id: "7655"
              href: https://bainz.nz:8080/tmf-api/productCatalogManagement/v4/productOffering/7655
              name: Hosted Basic Firewall for business
              isDefault: false
              '@referredType': ProductOffering
              '@type': BundledGroupProductOffering
              '@schemaLocation': https://bainz.nz:8080/tmf-api/schemas/Product/BundledGroupProductOffering.schema.json
            items:
              $ref: '#/components/schemas/BundledGroupProductOffering'
          id:
            type: string
            description: A locally unique id (index) of the group within the containing
              (parent) product offering
            example: "3"
          name:
            type: string
            description: The name of the selection group
            example: Choose between 2 and 7 channels. By default you'll get 4 channels
          numberRelOfferLowerLimit:
            type: integer
            description: The minimum number of child offerings that should be instantiated
            example: 2
          numberRelOfferUpperLimit:
            type: integer
            description: The maximum number of child offerings that should be instantiated
            example: 7
        description: "Defines a group between a parent product offering and multiple\
          \ child offerings, allowing (for example) choosing a minimum of 2 and a\
          \ maximum of 6 offerings from within the list of child offerings. And optionally\
          \ specifying offerings that would be selected by default. For example facilitate\
          \ the choice of between 2 and 7 channel packs from a list, and cause certain\
          \ items to be selected by default"
    BundledProductOffering:
      discriminator:
        propertyName: '@type'
        mapping:
          BundledProductOffering: '#/components/schemas/BundledProductOffering'
      allOf:
      - $ref: '#/components/schemas/Extensible'
      - $ref: '#/components/schemas/EntityRef'
      - type: object
        properties:
          lifecycleStatus:
            type: string
            description: Used to indicate the current lifecycle status
          name:
            type: string
            description: Name of the BundledProductOffering
          bundledProductOfferingOption:
            $ref: '#/components/schemas/BundledProductOfferingOption'
          id:
            type: string
            description: Unique identifier of the BundledProductOffering
        description: "Represents a containment of a product offering within another\
          \ product offering, including specification of cardinality (e.g. is the\
          \ bundled offering mandatory, how many times can it be instantiated in the\
          \ parent product, etc.)."
    BundledProductOfferingOption:
      discriminator:
        propertyName: '@type'
        mapping:
          BundledProductOfferingOption: '#/components/schemas/BundledProductOfferingOption'
      allOf:
      - $ref: '#/components/schemas/Extensible'
      - type: object
        properties:
          numberRelOfferDefault:
            type: integer
            description: Default number of produc offereings that should be procured
              as part of the related BundledProductOffering
          numberRelOfferLowerLimit:
            type: integer
            description: lower limit for a product offering that can be procured as
              part of the related BundledProductOffering
          numberRelOfferUpperLimit:
            type: integer
            description: upper limit for a product offering that can be procured as
              part of the related BundledProductOffering
        description: A set of numbers that specifies the lower and upper limits for
          a ProductOffering that can be procured as part of the related BundledProductOffering.
          Values can range from 0 to unbounded
    BundledProductOfferingPriceRelationship:
      discriminator:
        propertyName: '@type'
        mapping:
          BundledProductOfferingPriceRelationship: '#/components/schemas/BundledProductOfferingPriceRelationship'
      allOf:
      - $ref: '#/components/schemas/Extensible'
      - $ref: '#/components/schemas/EntityRef'
      - type: object
        properties:
          name:
            type: string
            description: Name of the bundled product offering price
          id:
            type: string
            description: Unique identifier of the bundled product offering price
        description: "This represents a bundling pricing relationship, allowing a\
          \ price to be composed of multiple other prices (e.g. a recurring charge\
          \ and a onetime charge)."
    BundledProductSpecification:
      discriminator:
        propertyName: '@type'
        mapping:
          BundledProductSpecification: '#/components/schemas/BundledProductSpecification'
      allOf:
      - $ref: '#/components/schemas/Extensible'
      - type: object
        properties:
          href:
            type: string
            description: Reference of the product specification
          id:
            type: string
            description: Unique identifier of the product specification
          lifecycleStatus:
            type: string
            description: Used to indicate the current lifecycle status
          name:
            type: string
            description: Name of the product specification
        description: A type of ProductSpecification that belongs to a grouping of
          ProductSpecifications made available to the market. It inherits of all attributes
          of ProductSpecification.
    Catalog:
      discriminator:
        propertyName: '@type'
        mapping:
          Catalog: '#/components/schemas/Catalog'
      allOf:
      - $ref: '#/components/schemas/Entity'
      - type: object
        properties:
          description:
            type: string
            description: Description of this catalog
          catalogType:
            type: string
            description: "Indicates if the catalog is a product, service or resource\
              \ catalog"
          validFor:
            $ref: '#/components/schemas/TimePeriod'
          version:
            type: string
            description: Catalog version
          relatedParty:
            type: array
            description: List of parties involved in this catalog
            items:
              $ref: '#/components/schemas/RelatedPartyOrPartyRole'
          category:
            type: array
            description: List of root categories contained in this catalog
            items:
              $ref: '#/components/schemas/CategoryRef'
          lastUpdate:
            type: string
            description: Date and time of the last update
            format: date-time
          lifecycleStatus:
            type: string
            description: Used to indicate the current lifecycle status
          name:
            type: string
            description: Name of the catalog
        description: "[Pete Bains] - A collection of Catalog's that can be Product,\
          \ Service or Resource Catalogs. A collection of Product Offerings, intended\
          \ for a specific DistributionChannel, enhanced with additional information\
          \ such as SLA parameters, invoicing and shipping details"
    CatalogAttributeValueChangeEvent:
      discriminator:
        propertyName: '@type'
        mapping:
          CatalogAttributeValueChangeEvent: '#/components/schemas/CatalogAttributeValueChangeEvent'
      allOf:
      - $ref: '#/components/schemas/Event'
      - type: object
        properties:
          event:
            $ref: '#/components/schemas/CatalogAttributeValueChangeEventPayload'
        description: CatalogAttributeValueChangeEvent generic structure
    CatalogAttributeValueChangeEventPayload:
      type: object
      properties:
        catalog:
          $ref: '#/components/schemas/Catalog'
      description: CatalogAttributeValueChangeEventPayload generic structure
    CatalogBatch:
      discriminator:
        propertyName: '@type'
        mapping:
          CatalogBatch: '#/components/schemas/CatalogBatch'
      allOf:
      - $ref: '#/components/schemas/Event'
      - type: object
        properties:
          event:
            $ref: '#/components/schemas/CatalogBatchPayload'
        description: CatalogBatch generic structure
    CatalogBatchPayload:
      type: object
      properties:
        catalog:
          $ref: '#/components/schemas/Catalog'
      description: CatalogBatchPayload generic structure
    CatalogCreateEvent:
      discriminator:
        propertyName: '@type'
        mapping:
          CatalogCreateEvent: '#/components/schemas/CatalogCreateEvent'
      allOf:
      - $ref: '#/components/schemas/Event'
      - type: object
        properties:
          event:
            $ref: '#/components/schemas/CatalogCreateEventPayload'
        description: CatalogCreateEvent generic structure
    CatalogCreateEventPayload:
      type: object
      properties:
        catalog:
          $ref: '#/components/schemas/Catalog'
      description: CatalogCreateEventPayload generic structure
    CatalogDeleteEvent:
      discriminator:
        propertyName: '@type'
        mapping:
          CatalogDeleteEvent: '#/components/schemas/CatalogDeleteEvent'
      allOf:
      - $ref: '#/components/schemas/Event'
      - type: object
        properties:
          event:
            $ref: '#/components/schemas/CatalogDeleteEventPayload'
        description: CatalogDeleteEvent generic structure
    CatalogDeleteEventPayload:
      type: object
      properties:
        catalog:
          $ref: '#/components/schemas/Catalog'
      description: CatalogDeleteEventPayload generic structure
    CatalogStateChangeEvent:
      discriminator:
        propertyName: '@type'
        mapping:
          CatalogStateChangeEvent: '#/components/schemas/CatalogStateChangeEvent'
      allOf:
      - $ref: '#/components/schemas/Event'
      - type: object
        properties:
          event:
            $ref: '#/components/schemas/CatalogStateChangeEventPayload'
        description: CatalogStateChangeEvent generic structure
    CatalogStateChangeEventPayload:
      type: object
      properties:
        catalog:
          $ref: '#/components/schemas/Catalog'
      description: CatalogStateChangeEventPayload generic structure
    Category:
      discriminator:
        propertyName: '@type'
        mapping:
          Category: '#/components/schemas/Category'
      allOf:
      - $ref: '#/components/schemas/Entity'
      - type: object
        properties:
          description:
            type: string
            description: Description of the category
          isRoot:
            type: boolean
            description: "If true, this Boolean indicates that the category is a root\
              \ of categories"
          parentId:
            type: string
            description: Unique identifier of the parent category
          productOffering:
            type: array
            description: List of product offerings that are referred to by the category
            items:
              $ref: '#/components/schemas/ProductOfferingRef'
          subCategory:
            type: array
            description: "The category resource is used to group product offerings,\
              \ service and resource candidates in logical containers. Categories\
              \ can contain other (sub-)categories and/or product offerings."
            items:
              $ref: '#/components/schemas/CategoryRef'
          validFor:
            $ref: '#/components/schemas/TimePeriod'
          version:
            type: string
            description: Category version
          lastUpdate:
            type: string
            description: Date and time of the last update
            format: date-time
          lifecycleStatus:
            type: string
            description: Used to indicate the current lifecycle status
          name:
            type: string
            description: Name of the category
        description: "The category resource is used to group product offerings, service\
          \ and resource candidates in logical containers. Categories can contain\
          \ other categories and/or product offerings, resource or service candidates."
    CategoryAttributeValueChangeEvent:
      discriminator:
        propertyName: '@type'
        mapping:
          CategoryAttributeValueChangeEvent: '#/components/schemas/CategoryAttributeValueChangeEvent'
      allOf:
      - $ref: '#/components/schemas/Event'
      - type: object
        properties:
          event:
            $ref: '#/components/schemas/CategoryAttributeValueChangeEventPayload'
        description: CategoryAttributeValueChangeEvent generic structure
    CategoryAttributeValueChangeEventPayload:
      type: object
      properties:
        category:
          $ref: '#/components/schemas/Category'
      description: CategoryAttributeValueChangeEventPayload generic structure
    CategoryCreateEvent:
      discriminator:
        propertyName: '@type'
        mapping:
          CategoryCreateEvent: '#/components/schemas/CategoryCreateEvent'
      allOf:
      - $ref: '#/components/schemas/Event'
      - type: object
        properties:
          event:
            $ref: '#/components/schemas/CategoryCreateEventPayload'
        description: CategoryCreateEvent generic structure
    CategoryCreateEventPayload:
      type: object
      properties:
        category:
          $ref: '#/components/schemas/Category'
      description: CategoryCreateEventPayload generic structure
    CategoryDeleteEvent:
      discriminator:
        propertyName: '@type'
        mapping:
          CategoryDeleteEvent: '#/components/schemas/CategoryDeleteEvent'
      allOf:
      - $ref: '#/components/schemas/Event'
      - type: object
        properties:
          event:
            $ref: '#/components/schemas/CategoryDeleteEventPayload'
        description: CategoryDeleteEvent generic structure
    CategoryDeleteEventPayload:
      type: object
      properties:
        category:
          $ref: '#/components/schemas/Category'
      description: CategoryDeleteEventPayload generic structure
    CategoryRef:
      type: object
      description: Reference to a category in the catalog.
      discriminator:
        propertyName: '@type'
        mapping:
          CategoryRef: '#/components/schemas/CategoryRef'
      allOf:
      - $ref: '#/components/schemas/Extensible'
      - $ref: '#/components/schemas/EntityRef'
      - $ref: '#/components/schemas/Reference'
    CategoryStateChangeEvent:
      discriminator:
        propertyName: '@type'
        mapping:
          CategoryStateChangeEvent: '#/components/schemas/CategoryStateChangeEvent'
      allOf:
      - $ref: '#/components/schemas/Event'
      - type: object
        properties:
          event:
            $ref: '#/components/schemas/CategoryStateChangeEventPayload'
        description: CategoryStateChangeEvent generic structure
    CategoryStateChangeEventPayload:
      type: object
      properties:
        category:
          $ref: '#/components/schemas/Category'
      description: CategoryStateChangeEventPayload generic structure
    ChannelRef:
      type: object
      description: Reference to a Channel.
      discriminator:
        propertyName: '@type'
        mapping:
          ChannelRef: '#/components/schemas/ChannelRef'
      allOf:
      - $ref: '#/components/schemas/Extensible'
      - $ref: '#/components/schemas/Reference'
      anyOf:
      - $ref: '#/components/schemas/EntityRef'
      - $ref: '#/components/schemas/Addressable'
    Characteristic:
      discriminator:
        propertyName: '@type'
        mapping:
          Characteristic: '#/components/schemas/Characteristic'
      allOf:
      - $ref: '#/components/schemas/Extensible'
      - type: object
        properties:
          id:
            type: string
            description: Unique identifier of the characteristic
          valueType:
            type: string
            description: Data type of the value of the characteristic
          characteristicRelationship:
            type: array
            items:
              $ref: '#/components/schemas/CharacteristicRelationship'
          name:
            type: string
            description: Name of the characteristic
        description: Describes a given characteristic of an object or entity through
          a name/value pair.
    CharacteristicRelationship:
      discriminator:
        propertyName: '@type'
        mapping:
          CharacteristicRelationship: '#/components/schemas/CharacteristicRelationship'
      allOf:
      - $ref: '#/components/schemas/Extensible'
      - type: object
        properties:
          id:
            type: string
            description: Unique identifier of the characteristic
          relationshipType:
            type: string
            description: The type of relationship
        description: Another Characteristic that is related to the current Characteristic;
    CharacteristicSpecification:
      discriminator:
        propertyName: '@type'
        mapping:
          CharacteristicSpecification: '#/components/schemas/CharacteristicSpecification'
      allOf:
      - $ref: '#/components/schemas/Extensible'
      - type: object
        properties:
          id:
            type: string
            description: Unique ID for the characteristic
          description:
            type: string
            description: A narrative that explains the CharacteristicSpecification.
          configurable:
            type: boolean
            description: "If true, the Boolean indicates that the target Characteristic\
              \ is configurable"
          validFor:
            $ref: '#/components/schemas/TimePeriod'
          minCardinality:
            type: integer
            description: "The minimum number of instances a CharacteristicValue can\
              \ take on. For example, zero to five phone numbers in a group calling\
              \ plan, where zero is the value for the minCardinality."
          maxCardinality:
            type: integer
            description: "The maximum number of instances a CharacteristicValue can\
              \ take on. For example, zero to five phone numbers in a group calling\
              \ plan, where five is the value for the maxCardinality."
          isUnique:
            type: boolean
            description: "Specifies if the value of this characteristic is unique\
              \ across all entities instantiated from the specification that uses\
              \ this characteristc. For example, consider a ProductSpecification for\
              \ a set-top box, with a CharacteristicSpecification cardID. Each set-top\
              \ box must have a different value for cardID, so this isUnique attribute\
              \ would be set to true for the characteristic."
          regex:
            type: string
            description: A rule or principle represented in regular expression used
              to derive the value of a characteristic value.
          extensible:
            type: boolean
            description: An indicator that specifies that the values for the characteristic
              can be extended by adding new values when instantiating a characteristic
              for a resource.
          '@valueSchemaLocation':
            type: string
            description: This (optional) field provides a link to the schema describing
              the value type.
          charSpecRelationship:
            type: array
            description: "An aggregation, migration, substitution, dependency or exclusivity\
              \ relationship between/among Specification Characteristics."
            items:
              $ref: '#/components/schemas/CharacteristicSpecificationRelationship'
          characteristicValueSpecification:
            type: array
            description: "A CharacteristicValueSpecification object is used to define\
              \ a set of attributes, each of which can be assigned to a corresponding\
              \ set of attributes in a CharacteristicSpecification object. The values\
              \ of the attributes in the CharacteristicValueSpecification object describe\
              \ the values of the attributes that a corresponding Characteristic object\
              \ can take on."
            items:
              $ref: '#/components/schemas/CharacteristicValueSpecification'
          name:
            type: string
            description: "A word, term, or phrase by which this characteristic specification\
              \ is known and distinguished from other characteristic specifications."
          valueType:
            type: string
            description: "A kind of value that the characteristic can take on, such\
              \ as numeric, text and so forth"
        description: This class defines a characteristic specification.
    CharacteristicSpecificationRelationship:
      discriminator:
        propertyName: '@type'
        mapping:
          CharacteristicSpecificationRelationship: '#/components/schemas/CharacteristicSpecificationRelationship'
      allOf:
      - $ref: '#/components/schemas/Extensible'
      - type: object
        properties:
          characteristicSpecificationId:
            type: string
            description: Unique identifier of the characteristic within the specification
          parentSpecificationHref:
            type: string
            description: Hyperlink reference to the parent specification containing
              the target characteristic
            format: uri
          validFor:
            $ref: '#/components/schemas/TimePeriod'
          parentSpecificationId:
            type: string
            description: Unique identifier of the parent specification containing
              the target characteristic
          name:
            type: string
            description: Name of the target characteristic within the specification
          relationshipType:
            type: string
            description: "Type of relationship such as aggregation, migration, substitution,\
              \ dependency, exclusivity"
        description: "An aggregation, migration, substitution, dependency or exclusivity\
          \ relationship between/among Characteristic specifications. The specification\
          \ characteristic is embedded within the specification whose ID and href\
          \ are in this entity, and identified by its ID. For example, the bandwidth\
          \ characteristic in a Broadband product might be related to a resolution\
          \ characteristic in a TV product, since bandwidth 1Gbps is needed for 4k\
          \ resolution"
    CharacteristicValueSpecification:
      discriminator:
        propertyName: '@type'
        mapping:
          CharacteristicValueSpecification: '#/components/schemas/CharacteristicValueSpecification'
          StringCharacteristicValueSpecification: '#/components/schemas/StringCharacteristicValueSpecification'
          StringArrayCharacteristicValueSpecification: '#/components/schemas/StringArrayCharacteristicValueSpecification'
          ObjectCharacteristicValueSpecification: '#/components/schemas/ObjectCharacteristicValueSpecification'
          ObjectArrayCharacteristicValueSpecification: '#/components/schemas/ObjectArrayCharacteristicValueSpecification'
          NumberCharacteristicValueSpecification: '#/components/schemas/NumberCharacteristicValueSpecification'
          NumberArrayCharacteristicValueSpecification: '#/components/schemas/NumberArrayCharacteristicValueSpecification'
          MapCharacteristicValueSpecification: '#/components/schemas/MapCharacteristicValueSpecification'
          MapArrayCharacteristicValueSpecification: '#/components/schemas/MapArrayCharacteristicValueSpecification'
          IntegerCharacteristicValueSpecification: '#/components/schemas/IntegerCharacteristicValueSpecification'
          IntegerArrayCharacteristicValueSpecification: '#/components/schemas/IntegerArrayCharacteristicValueSpecification'
      allOf:
      - $ref: '#/components/schemas/Extensible'
      - type: object
        properties:
          valueType:
            type: string
            description: "A kind of value that the characteristic value can take on,\
              \ such as numeric, text and so forth"
          isDefault:
            type: boolean
            description: "If true, the Boolean Indicates if the value is the default\
              \ value for a characteristic"
          unitOfMeasure:
            type: string
            description: "A length, surface, volume, dry measure, liquid measure,\
              \ money, weight, time, and the like. In general, a determinate quantity\
              \ or magnitude of the kind designated, taken as a standard of comparison\
              \ for others of the same kind, in assigning to them numerical values,\
              \ as 1 foot, 1 yard, 1 mile, 1 square foot."
          validFor:
            $ref: '#/components/schemas/TimePeriod'
          valueFrom:
            type: integer
            description: The low range value that a characteristic can take on
          valueTo:
            type: integer
            description: The upper range value that a characteristic can take on
          rangeInterval:
            type: string
            description: "An indicator that specifies the inclusion or exclusion of\
              \ the valueFrom and valueTo attributes. If applicable, possible values\
              \ are \"open\", \"closed\", \"closedBottom\" and \"closedTop\"."
          regex:
            type: string
            description: A regular expression constraint for given value
        description: "specification of a value (number or text or an object) that\
          \ can be assigned to a Characteristic. This is an abstract base class, the\
          \ actual value is in one of the strongly-typed subclasses"
    ConstraintRef:
      discriminator:
        propertyName: '@type'
        mapping:
          ConstraintRef: '#/components/schemas/ConstraintRef'
      allOf:
      - $ref: '#/components/schemas/Extensible'
      - $ref: '#/components/schemas/EntityRef'
      - $ref: '#/components/schemas/Reference'
      - type: object
        properties:
          version:
            type: string
            description: constraint version
        description: Constraint reference. The Constraint resource represents a policy/rule
          applied to an entity or entity spec.
    Duration:
      type: object
      properties:
        amount:
          type: integer
          description: "Time interval (number of seconds, minutes, hours, etc.)"
        units:
          type: string
          description: "Unit of time (seconds, minutes, hours, etc.)"
      description: A time interval in a given unit of time
    Entity:
      type: object
      description: Base entity schema for use in TMForum Open-APIs. Property.
      allOf:
      - $ref: '#/components/schemas/Extensible'
      - $ref: '#/components/schemas/Addressable'
    EntityRef:
      type: object
      properties:
        href:
          type: string
          description: Hyperlink reference
      description: Entity reference schema to be use for all entityRef class.
    Event:
      allOf:
      - $ref: '#/components/schemas/Extensible'
      - type: object
        properties:
          correlationId:
            type: string
            description: The correlation id for this event.
          domain:
            type: string
            description: The domain of the event.
          title:
            type: string
            description: The title of the event.
          description:
            type: string
            description: An explnatory of the event.
          priority:
            type: string
            description: A priority.
          timeOccurred:
            type: string
            description: The time the event occurred.
            format: date-time
          source:
            $ref: '#/components/schemas/EntityRef'
          reportingSystem:
            $ref: '#/components/schemas/EntityRef'
          relatedParty:
            type: array
            items:
              $ref: '#/components/schemas/RelatedParty'
          analyticCharacteristic:
            type: array
            items:
              $ref: '#/components/schemas/Characteristic'
          eventId:
            type: string
            description: The identifier of the notification.
          eventTime:
            type: string
            description: Time of the event occurrence.
            format: date-time
          eventType:
            type: string
            description: The type of the notification.
          event:
            type: object
            description: The event linked to the involved resource object
        description: event with common attributes.
    ExportJob:
      discriminator:
        propertyName: '@type'
        mapping:
          ExportJob: '#/components/schemas/ExportJob'
      allOf:
      - $ref: '#/components/schemas/Extensible'
      - type: object
        properties:
          completionDate:
            type: string
            description: Data at which the job was completed
            format: date-time
          contentType:
            type: string
            description: The format of the exported data
          creationDate:
            type: string
            description: Date at which the job was created
            format: date-time
          errorLog:
            type: string
            description: Reason for failure
          path:
            type: string
            description: URL of the root resource acting as the source for streaming
              content to the file specified by the export job
          query:
            type: string
            description: Used to scope the exported data
          status:
            $ref: '#/components/schemas/JobStateType'
          url:
            type: string
            description: URL of the file containing the data to be exported
            format: uri
        description: Represents a task used to export resources to a file
    Extensible:
      required:
      - '@type'
      type: object
      properties:
        '@type':
          type: string
          description: "When sub-classing, this defines the sub-class Extensible name"
        '@baseType':
          type: string
          description: "When sub-classing, this defines the super-class"
        '@schemaLocation':
          type: string
          description: A URI to a JSON-Schema file that defines additional attributes
            and relationships
      description: Base Extensible schema for use in TMForum Open-APIs - When used
        for in a schema it means that the Entity described by the schema  MUST be
        extended with the @type
    ImportJob:
      type: object
      properties:
        completionDate:
          type: string
          description: Date at which the job was completed
          format: date-time
        contentType:
          type: string
          description: Indicates the format of the imported data
        creationDate:
          type: string
          description: Date at which the job was created
          format: date-time
        errorLog:
          type: string
          description: Reason for failure if status is failed
        path:
          type: string
          description: URL of the root resource where the content of the file specified
            by the import job must be applied
        status:
          $ref: '#/components/schemas/JobStateType'
        url:
          type: string
          description: URL of the file containing the data to be imported
          format: uri
      description: Represents a task used to import resources from a file
    JobStateType:
      type: string
      description: Valid values for the state of a batch job (e.g. catalog import)
      enum:
      - Not Started
      - Running
      - Succeeded
      - Failed
    MarketSegmentRef:
      type: object
      description: "provides references to the corresponding market segment as target\
        \ of product offerings. A market segment is grouping of Parties, GeographicAreas,\
        \ SalesChannels, and so forth."
      discriminator:
        propertyName: '@type'
        mapping:
          MarketSegmentRef: '#/components/schemas/MarketSegmentRef'
      allOf:
      - $ref: '#/components/schemas/Extensible'
      - $ref: '#/components/schemas/EntityRef'
      - $ref: '#/components/schemas/Entity'
    Money:
      type: object
      properties:
        unit:
          type: string
          description: Currency (ISO4217 norm uses 3 letters to define the currency)
        value:
          type: number
          description: "A signed floating point number, the meaning of the sign is\
            \ according to the context of the API that uses this Data type"
          format: float
      description: A base / value business entity used to represent money
    POPAlteration:
      discriminator:
        propertyName: '@type'
        mapping:
          POPAlteration: '#/components/schemas/POPAlteration'
      allOf:
      - $ref: '#/components/schemas/Entity'
      - type: object
        properties:
          applicationDuration:
            $ref: '#/components/schemas/Duration'
          description:
            type: string
            description: A narrative that explains in detail the semantics of this
              order item price alteration
          name:
            type: string
            description: Name given to this price alteration
          priceType:
            type: string
            description: "A category that describes the price such as recurring, one\
              \ time and usage."
          priority:
            type: integer
            description: Priority level for applying this alteration among all the
              defined alterations on the order item price
          recurringChargePeriod:
            type: string
            description: "Could be month, week..."
          validFor:
            $ref: '#/components/schemas/TimePeriod'
          unitOfMeasure:
            $ref: '#/components/schemas/Quantity'
          price:
            $ref: '#/components/schemas/ProductPriceValue'
        description: "Is an amount, usually of money, that modifies the price charged\
          \ for an order item."
    POPCharge:
      discriminator:
        propertyName: '@type'
        mapping:
          POPCharge: '#/components/schemas/POPCharge'
          ProductOfferingPriceRefOrValue: '#/components/schemas/ProductOfferingPriceRefOrValue'
      allOf:
      - $ref: '#/components/schemas/Entity'
      - type: object
        properties:
          name:
            type: string
            description: Name of the productOfferingPrice
          description:
            type: string
            description: Description of the productOfferingPrice
          version:
            type: string
            description: ProductOffering version
          validFor:
            $ref: '#/components/schemas/TimePeriod'
          priceType:
            type: string
            description: "A category that describes the price charge, such as recurring,\
              \ penalty, One time fee and so forth."
          unitOfMeasure:
            $ref: '#/components/schemas/Quantity'
          recurringChargePeriod:
            type: string
            description: |-
              The period type to repeat the application of the price
              Could be month, week...
          recurringChargePeriodLength:
            type: integer
            description: "the period of the recurring charge:  1, 2, ... .It sets\
              \ to zero if it is not applicable"
          lastUpdate:
            type: string
            description: the last update time of this ProductOfferingPrice
            format: date-time
          lifecycleStatus:
            type: string
            description: the lifecycle status of this ProductOfferingPrice
          constraint:
            type: array
            description: The Constraint resource represents a policy/rule applied
              to ProductOfferingPrice.
            items:
              $ref: '#/components/schemas/ConstraintRef'
          priceAlteration:
            type: array
            items:
              $ref: '#/components/schemas/POPAlteration'
          price:
            $ref: '#/components/schemas/ProductPriceValue'
        description: This is representing a product offering price (charge) based
          on both the basic cost to develop and produce products and the enterprises
          policy on revenue targets. This price may be further revised through discounting
          (a Product Offering Price that reflects an alteration).
    PartyOrPartyRole:
      type: object
      description: A Party or PartyRole reference.
      discriminator:
        propertyName: '@type'
        mapping:
          PartyOrPartyRole: '#/components/schemas/PartyOrPartyRole'
          PartyRef: '#/components/schemas/PartyRef'
          PartyRoleRef: '#/components/schemas/PartyRoleRef'
      oneOf:
      - $ref: '#/components/schemas/PartyRef'
      - $ref: '#/components/schemas/PartyRoleRef'
    PartyRef:
      type: object
      description: A Party reference
      discriminator:
        propertyName: '@type'
        mapping:
          PartyRef: '#/components/schemas/PartyRef'
      allOf:
      - $ref: '#/components/schemas/Extensible'
      - $ref: '#/components/schemas/EntityRef'
      - $ref: '#/components/schemas/Reference'
    PartyRoleRef:
      type: object
      description: A PartyRole reference
      discriminator:
        propertyName: '@type'
        mapping:
          PartyRoleRef: '#/components/schemas/PartyRoleRef'
      allOf:
      - $ref: '#/components/schemas/Extensible'
      - $ref: '#/components/schemas/EntityRef'
      - $ref: '#/components/schemas/Reference'
    PlaceRef:
      type: object
      description: Place reference.
      discriminator:
        propertyName: '@type'
        mapping:
          PlaceRef: '#/components/schemas/PlaceRef'
      allOf:
      - $ref: '#/components/schemas/Extensible'
      - $ref: '#/components/schemas/EntityRef'
      - $ref: '#/components/schemas/Reference'
    PricingLogicAlgorithm:
      discriminator:
        propertyName: '@type'
        mapping:
          PricingLogicAlgorithm: '#/components/schemas/PricingLogicAlgorithm'
      allOf:
      - $ref: '#/components/schemas/Entity'
      - type: object
        properties:
          description:
            type: string
            description: Description of the PricingLogicAlgorithm
          name:
            type: string
            description: Name given to the PricingLogicAlgorithm
          plaSpecId:
            type: string
            description: id of corresponding PricingLogicAlgorithm specification
          validFor:
            $ref: '#/components/schemas/TimePeriod'
        description: The PricingLogicAlgorithm entity represents an instantiation
          of an interface specification to external rating function (without a modeled
          bahavior in SID). Some of the parameters of the interface definiition may
          be already set (such as price per unit) and some may be gathered during
          the rating process from the event (such as call duration) or from ProductCharacteristicValues
          (such as assigned bandwidth)
    ProductOffering:
      discriminator:
        propertyName: '@type'
        mapping:
          ProductOffering: '#/components/schemas/ProductOffering'
      allOf:
      - $ref: '#/components/schemas/Entity'
      - type: object
        properties:
          description:
            type: string
            description: Description of the productOffering
          isBundle:
            type: boolean
            description: "isBundle determines whether a productOffering represents\
              \ a single productOffering (false), or a bundle of productOfferings\
              \ (true)."
          isSellable:
            type: boolean
            description: A flag indicating if this product offer can be sold stand-alone
              for sale or not. If this flag is false it indicates that the offer can
              only be sold within a bundle.
          statusReason:
            type: string
            description: A string providing a complementary information on the value
              of the lifecycle status attribute.
            enum:
            - None
            - Released for sales
            - Stop Sell
            - Under pilot release
            - Under trial release
            - Under withdrawal notice
            - Withdrawn
            - Open
            - Rejected
          validFor:
            $ref: '#/components/schemas/TimePeriod'
          version:
            type: string
            description: ProductOffering version
          place:
            type: array
            description: Place defines the places where the products are sold or delivered.
            items:
              $ref: '#/components/schemas/PlaceRef'
          serviceLevelAgreement:
            $ref: '#/components/schemas/SLARef'
          channel:
            type: array
            description: The channel defines the channel for selling product offerings.
            items:
              $ref: '#/components/schemas/ChannelRef'
          serviceCandidate:
            $ref: '#/components/schemas/ServiceCandidateRef'
          category:
            type: array
            description: "The category resource is used to group product offerings,\
              \ service and resource candidates in logical containers. Categories\
              \ can contain other categories and/or product offerings, resource or\
              \ service candidates."
            items:
              $ref: '#/components/schemas/CategoryRef'
          resourceCandidate:
            $ref: '#/components/schemas/ResourceCandidateRef'
          productOfferingTerm:
            type: array
            description: "A condition under which a ProductOffering is made available\
              \ to Customers. For instance, a productOffering can be offered with\
              \ multiple commitment periods."
            items:
              $ref: '#/components/schemas/ProductOfferingTerm'
          productOfferingPrice:
            type: array
            description: "An amount, usually of money, that is asked for or allowed\
              \ when a ProductOffering is bought, rented, or leased. The price is\
              \ valid for a defined period of time and may not represent the actual\
              \ price paid by a customer."
            items:
              $ref: '#/components/schemas/ProductOfferingPriceRefOrValue'
          agreement:
            type: array
            description: "An agreement represents a contract or arrangement, either\
              \ written or verbal and sometimes enforceable by law, such as a service\
              \ level agreement or a customer price agreement. An agreement involves\
              \ a number of other business entities, such as products, services, and\
              \ resources and/or their specifications."
            items:
              $ref: '#/components/schemas/AgreementRef'
          bundledProductOffering:
            type: array
            description: A type of ProductOffering that belongs to a grouping of ProductOfferings
              made available to the market. It inherits of all attributes of ProductOffering.
            items:
              $ref: '#/components/schemas/BundledProductOffering'
          attachment:
            type: array
            description: "Complements the description of an element (for instance\
              \ a product) through video, pictures..."
            items:
              $ref: '#/components/schemas/AttachmentRefOrValue'
          marketSegment:
            type: array
            description: "provides references to the corresponding market segment\
              \ as target of product offerings. A market segment is grouping of Parties,\
              \ GeographicAreas, SalesChannels, and so forth."
            items:
              $ref: '#/components/schemas/MarketSegmentRef'
          productOfferingRelationship:
            type: array
            description: A relationship between this product offering and other product
              offerings.
            items:
              $ref: '#/components/schemas/ProductOfferingRelationship'
          productOfferingCharacteristic:
            type: array
            description: "A characteristic quality or distinctive feature of a ProductOffering.\
              \ The characteristic can take on a discrete value fixed at design (catalog\
              \ authoring) time, such as Mobile Plan Rank, and is not generally modifiable\
              \ at inventory level."
            items:
              $ref: '#/components/schemas/CharacteristicSpecification'
          bundledGroupProductOfferingOption:
            type: array
            description: "A group of product offerings that can be selected for instantiation,\
              \ e.g. between 2 and 7 from a list of 15 channel packs."
            items:
              $ref: '#/components/schemas/BundledGroupProductOfferingOption'
          prodSpecCharValueUse:
            type: array
            description: "A use of the ProductSpecificationCharacteristicValue by\
              \ a ProductOffering to which additional properties (attributes) apply\
              \ or override the properties of similar properties contained in ProductSpecificationCharacteristicValue.\
              \ It should be noted that characteristics which their value(s) addressed\
              \ by this object must exist in corresponding product specification.\
              \ The available characteristic values for a ProductSpecificationCharacteristic\
              \ in a Product specification can be modified at the ProductOffering\
              \ level. For example, a characteristic 'Color' might have values White,\
              \ Blue, Green, and Red. But, the list of values can be restricted to\
              \ e.g. White and Blue in an associated product offering. It should be\
              \ noted that the list of values in 'ProductSpecificationCharacteristicValueUse'\
              \ is a strict subset of the list of values as defined in the corresponding\
              \ product specification characteristics."
            items:
              $ref: '#/components/schemas/ProductSpecificationCharacteristicValueUse'
          allowedAction:
            type: array
            description: List of actions that can be executed (in context of a product
              order) on products instantiated from this offering
            items:
              $ref: '#/components/schemas/AllowedProductAction'
          lastUpdate:
            type: string
            description: Date and time of the last update
            format: date-time
          lifecycleStatus:
            type: string
            description: Used to indicate the current lifecycle status
          name:
            type: string
            description: Name of the productOffering
          productSpecification:
            $ref: '#/components/schemas/ProductSpecificationRef'
        description: "Represents entities that are orderable from the provider of\
          \ the catalog, this resource includes pricing information."
    ProductOfferingAttributeValueChangeEvent:
      discriminator:
        propertyName: '@type'
        mapping:
          ProductOfferingAttributeValueChangeEvent: '#/components/schemas/ProductOfferingAttributeValueChangeEvent'
      allOf:
      - $ref: '#/components/schemas/Event'
      - type: object
        properties:
          event:
            $ref: '#/components/schemas/ProductOfferingAttributeValueChangeEventPayload'
        description: ProductOfferingAttributeValueChangeEvent generic structure
    ProductOfferingAttributeValueChangeEventPayload:
      type: object
      properties:
        productOffering:
          $ref: '#/components/schemas/ProductOffering'
      description: ProductOfferingAttributeValueChangeEventPayload generic structure
    ProductOfferingCreateEvent:
      discriminator:
        propertyName: '@type'
        mapping:
          ProductOfferingCreateEvent: '#/components/schemas/ProductOfferingCreateEvent'
      allOf:
      - $ref: '#/components/schemas/Event'
      - type: object
        properties:
          event:
            $ref: '#/components/schemas/ProductOfferingCreateEventPayload'
        description: ProductOfferingCreateEvent generic structure
    ProductOfferingCreateEventPayload:
      type: object
      properties:
        productOffering:
          $ref: '#/components/schemas/ProductOffering'
      description: ProductOfferingCreateEventPayload generic structure
    ProductOfferingDeleteEvent:
      discriminator:
        propertyName: '@type'
        mapping:
          ProductOfferingDeleteEvent: '#/components/schemas/ProductOfferingDeleteEvent'
      allOf:
      - $ref: '#/components/schemas/Event'
      - type: object
        properties:
          event:
            $ref: '#/components/schemas/ProductOfferingDeleteEventPayload'
        description: ProductOfferingDeleteEvent generic structure
    ProductOfferingDeleteEventPayload:
      type: object
      properties:
        productOffering:
          $ref: '#/components/schemas/ProductOffering'
      description: ProductOfferingDeleteEventPayload generic structure
    ProductOfferingPrice:
      discriminator:
        propertyName: '@type'
        mapping:
          ProductOfferingPrice: '#/components/schemas/ProductOfferingPrice'
      allOf:
      - $ref: '#/components/schemas/Entity'
      - type: object
        properties:
          description:
            type: string
            description: Description of the productOfferingPrice
          version:
            type: string
            description: ProductOfferingPrice version
          validFor:
            $ref: '#/components/schemas/TimePeriod'
          unitOfMeasure:
            $ref: '#/components/schemas/Quantity'
          recurringChargePeriodType:
            type: string
            description: |-
              The period to repeat the application of the price
              Could be month, week...
          recurringChargePeriodLength:
            type: integer
            description: "the period of the recurring charge:  1, 2, ... .It sets\
              \ to zero if it is not applicable"
          isBundle:
            type: boolean
            description: A flag indicating if this ProductOfferingPrice is composite
              (bundle) or not
          price:
            $ref: '#/components/schemas/Money'
          percentage:
            type: number
            description: Percentage to apply if this Product Offering Price is an
              Alteration (such as a Discount)
            format: float
          bundledPopRelationship:
            type: array
            description: this object represents a bundle relationship from a bundle
              product offering price (parent) to a simple product offering price (child).
              A simple product offering price may participate in more than one bundle
              relationship.
            items:
              $ref: '#/components/schemas/BundledProductOfferingPriceRelationship'
          popRelationship:
            type: array
            description: "Product Offering Prices related to this Product Offering\
              \ Price, for example a price alteration such as allowance or discount"
            items:
              $ref: '#/components/schemas/ProductOfferingPriceRelationship'
          prodSpecCharValueUse:
            type: array
            description: A use of the ProductSpecificationCharacteristicValue by a
              ProductOfferingPrice to which additional properties (attributes) apply
              or override the properties of similar properties contained in ProductSpecificationCharacteristicValue.
              It should be noted that characteristics which their value(s) addressed
              by this object must exist in corresponding product specification. The
              available characteristic values for a ProductSpecificationCharacteristic
              in a Product specification can be modified at the ProductOffering and
              ProcuctOfferingPrice level. The list of values in ProductSpecificationCharacteristicValueUse
              is a strict subset of the list of values as defined in the corresponding
              product specification characteristics.
            items:
              $ref: '#/components/schemas/ProductSpecificationCharacteristicValueUse'
          productOfferingTerm:
            type: array
            description: "A list of conditions under which a ProductOfferingPrice\
              \ is made available to Customers. For instance, a Product Offering Price\
              \ can be offered with multiple commitment periods."
            items:
              $ref: '#/components/schemas/ProductOfferingTerm'
          place:
            type: array
            description: Place defines the places where the products are sold or delivered.
            items:
              $ref: '#/components/schemas/PlaceRef'
          constraint:
            type: array
            description: The Constraint resource represents a policy/rule applied
              to ProductOfferingPrice.
            items:
              $ref: '#/components/schemas/ConstraintRef'
          pricingLogicAlgorithm:
            type: array
            description: The PricingLogicAlgorithm entity represents an instantiation
              of an interface specification to external rating function (without a
              modeled behavior in SID). Some of the parameters of the interface definition
              may be already set (such as price per unit) and some may be gathered
              during the rating process from the event (such as call duration) or
              from ProductCharacteristicValues (such as assigned bandwidth).
            items:
              $ref: '#/components/schemas/PricingLogicAlgorithm'
          tax:
            type: array
            description: An amount of money levied on the price of a Product by a
              legislative body.
            items:
              $ref: '#/components/schemas/TaxItem'
          name:
            type: string
            description: Name of the productOfferingPrice
          priceType:
            type: string
            description: "A category that describes the price, such as recurring,\
              \ discount, allowance, penalty, and so forth."
          lastUpdate:
            type: string
            description: the last update time of this ProductOfferingPrice
            format: date-time
          lifecycleStatus:
            type: string
            description: the lifecycle status of this ProductOfferingPrice
        description: "Is based on both the basic cost to develop and produce products\
          \ and the enterprises policy on revenue targets. This price may be further\
          \ revised through discounting (a Product Offering Price that reflects an\
          \ alteration). The price, applied for a productOffering may also be influenced\
          \ by the productOfferingTerm, the customer selected, eg: a productOffering\
          \ can be offered with multiple terms, like commitment periods for the contract.\
          \ The price may be influenced by this productOfferingTerm. A productOffering\
          \ may be cheaper with a 24 month commitment than with a 12 month commitment."
    ProductOfferingPriceAttributeValueChangeEvent:
      discriminator:
        propertyName: '@type'
        mapping:
          ProductOfferingPriceAttributeValueChangeEvent: '#/components/schemas/ProductOfferingPriceAttributeValueChangeEvent'
      allOf:
      - $ref: '#/components/schemas/Event'
      - type: object
        properties:
          event:
            $ref: '#/components/schemas/ProductOfferingPriceAttributeValueChangeEventPayload'
        description: ProductOfferingPriceAttributeValueChangeEvent generic structure
    ProductOfferingPriceAttributeValueChangeEventPayload:
      type: object
      properties:
        productOfferingPrice:
          $ref: '#/components/schemas/ProductOfferingPrice'
      description: ProductOfferingPriceAttributeValueChangeEventPayload generic structure
    ProductOfferingPriceCreateEvent:
      discriminator:
        propertyName: '@type'
        mapping:
          ProductOfferingPriceCreateEvent: '#/components/schemas/ProductOfferingPriceCreateEvent'
      allOf:
      - $ref: '#/components/schemas/Event'
      - type: object
        properties:
          event:
            $ref: '#/components/schemas/ProductOfferingPriceCreateEventPayload'
        description: ProductOfferingPriceCreateEvent generic structure
    ProductOfferingPriceCreateEventPayload:
      type: object
      properties:
        productOfferingPrice:
          $ref: '#/components/schemas/ProductOfferingPrice'
      description: ProductOfferingPriceCreateEventPayload generic structure
    ProductOfferingPriceDeleteEvent:
      discriminator:
        propertyName: '@type'
        mapping:
          ProductOfferingPriceDeleteEvent: '#/components/schemas/ProductOfferingPriceDeleteEvent'
      allOf:
      - $ref: '#/components/schemas/Event'
      - type: object
        properties:
          event:
            $ref: '#/components/schemas/ProductOfferingPriceDeleteEventPayload'
        description: ProductOfferingPriceDeleteEvent generic structure
    ProductOfferingPriceDeleteEventPayload:
      type: object
      properties:
        productOfferingPrice:
          $ref: '#/components/schemas/ProductOfferingPrice'
      description: ProductOfferingPriceDeleteEventPayload generic structure
    ProductOfferingPriceRef:
      type: object
      description: "ProductPriceOffering reference. An amount, usually of money, that\
        \ is asked for or allowed when a ProductOffering is bought, rented, or leased"
      discriminator:
        propertyName: '@type'
        mapping:
          ProductOfferingPriceRef: '#/components/schemas/ProductOfferingPriceRef'
          ProductOfferingPriceRefOrValue: '#/components/schemas/ProductOfferingPriceRefOrValue'
      allOf:
      - $ref: '#/components/schemas/Extensible'
      - $ref: '#/components/schemas/EntityRef'
      - $ref: '#/components/schemas/Reference'
    ProductOfferingPriceRefOrValue:
      type: object
      description: "A new product offering price being created by value or a reference\
        \ to an existing product offering price that alreasy created. The polymorphic\
        \ attributes @type, @schemaLocation & @referredType are related to the product\
        \ offering price and not to this ReforValue structure"
      allOf:
      - $ref: '#/components/schemas/ProductOfferingPriceRef'
      - $ref: '#/components/schemas/POPCharge'
    ProductOfferingPriceRelationship:
      discriminator:
        propertyName: '@type'
        mapping:
          ProductOfferingPriceRelationship: '#/components/schemas/ProductOfferingPriceRelationship'
      allOf:
      - $ref: '#/components/schemas/Extensible'
      - $ref: '#/components/schemas/EntityRef'
      - type: object
        properties:
          role:
            type: string
            description: The association role for the source product offering price
          name:
            type: string
            description: Name of the referred product offering type.
          '@referredType':
            type: string
            description: The actual type of the target instance when needed for disambiguation.
          id:
            type: string
            description: Identifier of the referred entity.
          relationshipType:
            type: string
            description: "type of the relationship, for example override, discount,\
              \ etc."
        description: Describes a non-composite relationship between product offering
          prices. For example one price might be an discount alteration for another
          price.
    ProductOfferingPriceStateChangeEvent:
      discriminator:
        propertyName: '@type'
        mapping:
          ProductOfferingPriceStateChangeEvent: '#/components/schemas/ProductOfferingPriceStateChangeEvent'
      allOf:
      - $ref: '#/components/schemas/Event'
      - type: object
        properties:
          event:
            $ref: '#/components/schemas/ProductOfferingPriceStateChangeEventPayload'
        description: ProductOfferingPriceStateChangeEvent generic structure
    ProductOfferingPriceStateChangeEventPayload:
      type: object
      properties:
        productOfferingPrice:
          $ref: '#/components/schemas/ProductOfferingPrice'
      description: ProductOfferingPriceStateChangeEventPayload generic structure
    ProductOfferingRef:
      type: object
      description: "ProductOffering reference. A product offering represents entities\
        \ that are orderable from the provider of the catalog, this resource includes\
        \ pricing information."
      discriminator:
        propertyName: '@type'
        mapping:
          ProductOfferingRef: '#/components/schemas/ProductOfferingRef'
          BundledGroupProductOffering: '#/components/schemas/BundledGroupProductOffering'
      allOf:
      - $ref: '#/components/schemas/Extensible'
      - $ref: '#/components/schemas/EntityRef'
      - $ref: '#/components/schemas/Reference'
    ProductOfferingRelationship:
      discriminator:
        propertyName: '@type'
        mapping:
          ProductOfferingRelationship: '#/components/schemas/ProductOfferingRelationship'
      allOf:
      - $ref: '#/components/schemas/Extensible'
      - $ref: '#/components/schemas/EntityRef'
      - type: object
        properties:
          role:
            type: string
            description: The association role for the source product offering
          name:
            type: string
            description: Name of the referred product offering type.
          '@referredType':
            type: string
            description: The actual type of the target instance when needed for disambiguation.
          validFor:
            $ref: '#/components/schemas/TimePeriod'
          id:
            type: string
            description: Identifier of the referred entity.
          relationshipType:
            type: string
            description: "Type of relationship between product offerings such as requires,\
              \ exchangableTo, optionalFor"
        description: A relationship between two product Offerings.
    ProductOfferingStateChangeEvent:
      discriminator:
        propertyName: '@type'
        mapping:
          ProductOfferingStateChangeEvent: '#/components/schemas/ProductOfferingStateChangeEvent'
      allOf:
      - $ref: '#/components/schemas/Event'
      - type: object
        properties:
          event:
            $ref: '#/components/schemas/ProductOfferingStateChangeEventPayload'
        description: ProductOfferingStateChangeEvent generic structure
    ProductOfferingStateChangeEventPayload:
      type: object
      properties:
        productOffering:
          $ref: '#/components/schemas/ProductOffering'
      description: ProductOfferingStateChangeEventPayload generic structure
    ProductOfferingTerm:
      discriminator:
        propertyName: '@type'
        mapping:
          ProductOfferingTerm: '#/components/schemas/ProductOfferingTerm'
      allOf:
      - $ref: '#/components/schemas/Extensible'
      - type: object
        properties:
          description:
            type: string
            description: Description of the productOfferingTerm
          duration:
            $ref: '#/components/schemas/Duration'
          name:
            type: string
            description: Name of the productOfferingTerm
          validFor:
            $ref: '#/components/schemas/TimePeriod'
        description: "A condition under which a ProductOffering is made available\
          \ to Customers. For instance, a productOffering can be offered with multiple\
          \ commitment periods."
    ProductPriceValue:
      discriminator:
        propertyName: '@type'
        mapping:
          ProductPrice: '#/components/schemas/ProductPriceValue'
      allOf:
      - $ref: '#/components/schemas/Extensible'
      - type: object
        properties:
          dutyFreeAmount:
            $ref: '#/components/schemas/Money'
          percentage:
            type: number
            description: Percentage to apply for ProdOfferPriceAlteration
            format: float
          taxIncludedAmount:
            $ref: '#/components/schemas/Money'
          taxCategory:
            type: string
            description: Tax category
          taxRate:
            type: number
            description: Tax rate
            format: float
        description: "Provides all amounts (tax included, duty free, tax rate), used\
          \ currency and percentage to apply for Price Alteration."
    ProductSpecification:
      discriminator:
        propertyName: '@type'
        mapping:
          ProductSpecification: '#/components/schemas/ProductSpecification'
      allOf:
      - $ref: '#/components/schemas/Entity'
      - type: object
        properties:
          brand:
            type: string
            description: The manufacturer or trademark of the specification
          description:
            type: string
            description: A narrative that explains in detail what the product specification
              is
          isBundle:
            type: boolean
            description: "isBundle determines whether a productSpecification represents\
              \ a single productSpecification (false), or a bundle of productSpecification\
              \ (true)."
          productNumber:
            type: string
            description: An identification number assigned to uniquely identity the
              specification
          category:
            type: array
            description: The category resource is used to group product specifications
              in logical containers. Categories can contain other categories and/or
              other catalog entries.
            items:
              $ref: '#/components/schemas/CategoryRef'
          validFor:
            $ref: '#/components/schemas/TimePeriod'
          version:
            type: string
            description: Product specification version
          relatedParty:
            type: array
            description: A related party defines party or party role linked to a specific
              entity.
            items:
              $ref: '#/components/schemas/RelatedPartyOrPartyRole'
          productSpecCharacteristic:
            type: array
            description: "A characteristic quality or distinctive feature of a ProductSpecification.\
              \  The characteristic can be take on a discrete value, such as color,\
              \ can take on a range of values, (for example, sensitivity of 100-240\
              \ mV), or can be derived from a formula (for example, usage time (hrs)\
              \ = 30 - talk time *3). Certain characteristics, such as color, may\
              \ be configured during the ordering or some other process."
            items:
              $ref: '#/components/schemas/CharacteristicSpecification'
          serviceSpecification:
            type: array
            description: ServiceSpecification(s) required to realize a ProductSpecification.
            items:
              $ref: '#/components/schemas/ServiceSpecificationRef'
          bundledProductSpecification:
            type: array
            description: A type of ProductSpecification that belongs to a grouping
              of ProductSpecifications made available to the market. It inherits of
              all attributes of ProductSpecification.
            items:
              $ref: '#/components/schemas/BundledProductSpecification'
          productSpecificationRelationship:
            type: array
            description: "A migration, substitution, dependency or exclusivity relationship\
              \ between/among product specifications."
            items:
              $ref: '#/components/schemas/ProductSpecificationRelationship'
          resourceSpecification:
            type: array
            description: The ResourceSpecification is required to realize a ProductSpecification.
            items:
              $ref: '#/components/schemas/ResourceSpecificationRef'
          attachment:
            type: array
            description: "Complements the description of an element (for instance\
              \ a product) through video, pictures..."
            items:
              $ref: '#/components/schemas/AttachmentRefOrValue'
          targetProductSchema:
            $ref: '#/components/schemas/TargetProductSchema'
          lastUpdate:
            type: string
            description: Date and time of the last update
            format: date-time
          lifecycleStatus:
            type: string
            description: Used to indicate the current lifecycle status
          name:
            type: string
            description: Name of the product specification
        description: Is a detailed description of a tangible or intangible object
          made available externally in the form of a ProductOffering to customers
          or other parties playing a party role.
    ProductSpecificationAttributeValueChangeEvent:
      discriminator:
        propertyName: '@type'
        mapping:
          ProductSpecificationAttributeValueChangeEvent: '#/components/schemas/ProductSpecificationAttributeValueChangeEvent'
      allOf:
      - $ref: '#/components/schemas/Event'
      - type: object
        properties:
          event:
            $ref: '#/components/schemas/ProductSpecificationAttributeValueChangeEventPayload'
        description: ProductSpecificationAttributeValueChangeEvent generic structure
    ProductSpecificationAttributeValueChangeEventPayload:
      type: object
      properties:
        productSpecification:
          $ref: '#/components/schemas/ProductSpecification'
      description: ProductSpecificationAttributeValueChangeEventPayload generic structure
    ProductSpecificationCharacteristicValueUse:
      discriminator:
        propertyName: '@type'
        mapping:
          ProductSpecificationCharacteristicValueUse: '#/components/schemas/ProductSpecificationCharacteristicValueUse'
      allOf:
      - $ref: '#/components/schemas/Extensible'
      - type: object
        properties:
          name:
            type: string
            description: Name of the associated productSpecificationCharacteristic
          id:
            type: string
            description: Unique ID for the characteristic
          description:
            type: string
            description: A narrative that explains in detail what the productSpecificationCharacteristic
              is
          valueType:
            type: string
            description: "A kind of value that the characteristic can take on, such\
              \ as numeric, text and so forth"
          minCardinality:
            type: integer
            description: "The minimum number of instances a CharacteristicValue can\
              \ take on. For example, zero to five phone numbers in a group calling\
              \ plan, where zero is the value for the minCardinality."
          maxCardinality:
            type: integer
            description: "The maximum number of instances a CharacteristicValue can\
              \ take on. For example, zero to five phone numbers in a group calling\
              \ plan, where five is the value for the maxCardinality."
          validFor:
            $ref: '#/components/schemas/TimePeriod'
          productSpecCharacteristicValue:
            type: array
            description: A number or text that can be assigned to a ProductSpecificationCharacteristic.
            items:
              $ref: '#/components/schemas/CharacteristicValueSpecification'
          productSpecification:
            $ref: '#/components/schemas/ProductSpecificationRef'
[...]
